@use "../../Resources/Styles/base/variables/index" as *;
@use "../../Resources/Styles/base/mixins/index" as *;

.podcast-card {
    padding: $gap-l;
    border-radius: 10px;

    > div {
        position: relative;

        > img {
            min-width: 256px;
            aspect-ratio: 1;
        }
        
        > .icon {
            position: absolute;
            top: 80%;
            right: 10%;
            width: 24px;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }

    &:hover {
        @include box-shadow-set($radius: 32px);
        background-color: $color-background-dark;
    }
}
