@use "../../Resources/Styles/base/variables/index" as *;
@use "../../Resources/Styles/base/mixins/index" as *;

.podcast-detail {
    --layout-template-cols: 1fr 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "podcast-detail__image podcast-detail__info" "podcast-detail__image podcast-detail__description" "podcast-detail__image podcast-detail__subscibe-btn";

&__image {
     min-width: 256px;
     height: auto;
     max-height: 256px;
     grid-area: podcast-detail__image;
 }

&__info {
     @include flex-set($direction: column);
     grid-area: podcast-detail__info;
 }

&__description {
     grid-area: podcast-detail__description;
 }

&__subscibe-btn {
     grid-area: podcast-detail__subscibe-btn;
 }

&__category {
     background-color: $color-background-light;
 }
}