@use "../base/mixins/index" as *;
@use "../base/variables/index" as *;

@mixin create-layout {
    * {
        padding: 0;
        margin: 0;
        font-family: "Segoe UI";
        color: $color-text-light;
        text-decoration: none;
    }

    body {
        background: $color-background;
    }

    input[type=range] {
        // appearance: none;
        // background: transparent;
    }

    main {
        --layout-template: #{$width-mobile-s} minmax(#{$width-mobile-s}, 1fr);
        --layout-align-items: stretch;
        --layout-align-content: stretch;

        @include grid-columns(grid, var(--layout-template), 0, var(--layout-align-content), flex-start, var(--layout-align-content));
        min-block-size: 100dvh;

        @include mq-responsive("mobile-m", max) {
            --layout-template: minmax(#{$width-mobile-s}, 1fr);
            --layout-align-content: flex-start;
            --layout-align-items: flex-start;
        }

        > aside {

            background: $color-background-dark;
            font-size: 18px;
            font-weight: 600;

            @include mq-responsive("mobile-m", max) {
                grid-row-start: 2;
            }

            > ul {
                @include flex-set($direction: column, $align-items: center);
                list-style: none;

                :first-child {
                    margin: $gap-xl 0;
                }

                li {
                    margin: $gap-s 0;
                }
            }
        }

        > section {
            margin: $gap-m;
        }
    }
}
