@use "../base/mixins/index" as *;
@use "../base/variables/index" as *;

@mixin create-layout {
    * {
        padding: 0;
        margin: 0;
        font-family: "Segoe UI";
        color: $color-text-light;
        text-decoration: none;
    }

    body {
        background: $color-background;
    }

    main {
        --layout-template: #{$width-mobile-s} minmax(#{$width-mobile-s}, 1fr);
        --layout-align-items: stretch;
        --layout-align-content: stretch;

        @include grid-columns(grid, var(--layout-template), 0, var(--layout-align-content), flex-start, var(--layout-align-content));
        min-block-size: 100dvh;

        @include mq-responsive("mobile-m", max) {
            --layout-template: minmax(#{$width-mobile-s}, 1fr);
            --layout-align-content: flex-start;
            --layout-align-items: flex-start;
        }

        > aside {

            background: $color-background-dark;
            font-size: 18px;
            font-weight: 600;

            @include mq-responsive("mobile-m", max) {
                grid-row-start: 2;
            }

            > ul {
                @include flex-set($direction: column);
                list-style: none;

                > li {
                    padding: $gap-l $gap-2xl;

                    > a {
                        @include flex-set($gap: $gap-m, $align-items: center);
                    }
                }

                > :first-child {
                    margin: $gap-xl 0;

                    > a {
                        @include flex-set($gap: $gap-m, $align-items: center);
                        font-size: $font-size-xl;

                        > .icon--microphone {
                            width: $icon-l !important;
                            fill: $color-primary !important;
                        }
                    }
                }
            }
        }

        > section {
            padding-bottom: calc($gap-3xl * 2);
            margin: $gap-m;

            :has(> h1.empty-page) {
                @include flex-set($align-items: center, $justify-content: center);
                height: 100%;
            }
        }
    }

    li:has(> .nav-item--current) {
        background-color: $color-background-light;
        color: $color-primary !important;

        .icon {
            fill: $color-primary !important;
        }
    }

    .icon {
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
