@use "../../Resources/Styles/base/variables/index" as *;
@use "../../Resources/Styles/base/mixins/index" as *;

.player-panel {
    --layout-template: minmax(100px, 1fr) 2fr 1fr;

    position: fixed;
    inset: auto 0 0 0;
    min-inline-size: 100dvw;
    block-size: $media-player-size;
    padding: 0 $gap-m;
    background-color: $color-background;

    @include grid-columns(
        $template: var(--layout-template),
        $gap: $gap-l,
        $align-items: center,
        $align-content: center
    );
    @include box-shadow-set($radius: 24px, $y: -15px);

    &__episode-info {
        @include flex-set($gap: $gap-m, $align-items: center);

        > img {
            min-width: $image-s;
            height: auto;
            max-height: $image-s;
        }

        > div {
            @include text-truncate();
        }
    }

    &__playback-tools {
        @include flex-set($direction: column);

        &__arrows {
            @include flex-set($justify-content: center);
            margin-bottom: $gap-s;

            > .icon {
                width: $icon-m;
                margin: 0 $gap-s;

                &--play-button,
                &--pause {
                    width: $icon-l;
                }
            }
        }

        &__timer {
            @include flex-set($gap: $gap-m, $justify-content: space-between);

            > input {
                flex: 1;
            }

            @include mq-responsive("tablet", max) { 
                display: none;
            }
        }
    }

    &__playback-options {
        @include flex-set($gap: $gap-s);
        user-select: none;

        &__volume {
            flex: 1;

            @include flex-set($gap: $gap-s);

            > input {
                flex: 1;
            }
        }

        > .icon--save {
            margin: 0 $gap-m;
        }

        @include mq-responsive("tablet", max) {
            display: none;
        }
    }

    @include mq-responsive("tablet", max) {
        --layout-template: minmax(100px, 3fr) 1fr;

        bottom: $media-player-size;
    }
}
