@use "../variables/sizes" as *;

$breakpoints: ("mobile-s": $width-mobile-s, "mobile-m": $width-mobile-m, "mobile-l": $width-mobile-l, "mobile-xl": $width-mobile-xl, "tablet": $width-tablet, "desktop-small": $width-desktop-s, "desktop-large": $width-desktop-l, "desktop-hd": $width-desktop-hd, "desktop-full-hd": $width-desktop-full-hd, "desktop-2k": $width-desktop-2k, "desktop-4k": $width-desktop-4k) !default;

@mixin mq-responsive($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type == min {
            $width: $width + 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin mq-theme($theme-color) {
    @if $theme-color == dark or $theme-color == light {
        @media (prefers-color-scheme: $theme-color) {
            @content;
        }
    }
}

@mixin mq-hover($value: hover) {
    @media (hover: $value) {
        &:hover {
            @content;
        }
    }
}
