@use "../../Resources/Styles/base/variables/index" as *;
@use "../../Resources/Styles/base/mixins/index" as *;

.podcast-card {
    padding: $gap-l;
    border-radius: 10px;

    > div {
        position: relative;

        > img {
            width: $image-l;
            aspect-ratio: 1;
        }

        > .icon {
            position: absolute;
            top: 80%;
            right: 10%;
            width: $icon-m;
        }
    }

    > *
    {
        @include text-truncate();
        max-width: $image-l;
    }

    &:hover {
        @include box-shadow-set($radius: 32px);
        background-color: $color-background-dark;
    }
}
